

@font-face {
    font-family: "Shabnam";
    src: url("./Shabnam-FD.eot") format("embedded-opentype"), url("./Shabnam-FD.woff") format("woff"),
        url("./Shabnam-FD.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Shabnam";
    src: url("./Shabnam-Light-FD.eot") format("embedded-opentype"), url("./Shabnam-Light-FD.woff") format("woff"),
        url("./Shabnam-Light-FD.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Shabnam";
    src: url("./Shabnam-Bold-FD.eot") format("embedded-opentype"), url("./Shabnam-Bold-FD.woff") format("woff"),
        url("./Shabnam-Bold-FD.ttf") format("truetype");
    font-weight: bold;
}
