// ::-webkit-scrollbar {
//     width: 10px;
// }

// ::-webkit-scrollbar,
// ::-webkit-scrollbar-track {
//     background-color: #F8F8F8;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: var(--v-primary-darken1);
//     border-radius: 0;
// }

// ::-webkit-scrollbar-button {
//     display: none;
// }
.v-dialog--fullscreen {
  border-radius: 0 !important;
  margin: 0;
  height: 100%;
  position: fixed !important;
  overflow-y: auto !important;
  width: 100%;
  max-width: 100% !important;
  top: 0;
  left: 0;
}
