input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
.editable {
  .main-header {
    display: none !important;
  }
}
.v-application {
  font-family: 'Shabnam' !important;
}
.v-autocomplete__content {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08) !important;
  border-radius: 6px !important;
}
.v-btn {
  letter-spacing: inherit !important;
}
.cursor-pointer {
  cursor: pointer;
}
.dialog-wrapper {
  // .dialog-close{
  //   position: absolute !important;
  // }
  .alert-dialog {
    padding: 20px !important;
  }
}
.content-wrapper {
  line-height: 1.75rem;
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 12px;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
}
.custom-confirm {
  .dialog-icon {
    display: none !important;
  }
  .dialog-header {
    align-items: flex-start;
  }
  .dialog-title {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
  }
  .dialog-title,
  .dialog-message {
    text-align: right;
  }
  .dialog-message {
    color: #757575;
    font-size: 0.875rem;
  }
  .dialog-actions {
    justify-content: flex-start;
    .v-btn {
      border-radius: 6px !important;
      box-shadow: none !important;
      font-size: 0.75rem !important;
      &.info {
        background: var(--v-primary-base) !important;
      }
      &.grey.darken-1 {
        color: rgba(0, 0, 0, 0.87);
        background: #e6e6e6 !important;
      }
    }
  }
}
.sticky {
  position: sticky;
  top: 10px;
}
.container {
  height: 100%;
}
.position-relative {
  position: relative !important;
}
.pointer {
  cursor: pointer;
}
.fact {
  color: #fff;
  border-radius: 10px;
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(md) {
    width: 143px;
    height: 50px;
  }
  &.right {
    background: linear-gradient(to bottom, #21c185, #21c1a8);
  }
  &.half_true {
    background: linear-gradient(to bottom, #00ff9f, #90ff97);
  }
  &.unproven {
    background: linear-gradient(to bottom, #0288d1, #0288d1);
  }
  &.illusory {
    background: linear-gradient(to bottom, #7b1fa2, #7c4dff);
  }
  &.incorrect {
    background: linear-gradient(to bottom, #ffe0b2, #ffccbc);
  }
  &.horned {
    background: linear-gradient(to bottom, #ff5252, #f48fb1);
  }
}

.v-application ul,
.v-application ol {
  padding-right: 24px;
  padding-left: 0;
}

#loading {
  z-index: 501 !important;
}
.rotate-180 {
  transform: rotate(180deg);
}
.dialog-title {
  text-align: center;
}
.rotate-90 {
  transform: rotate(-90deg);
}
.v-tabs-items {
  background: transparent !important;
}

.dialog-container {
  z-index: 999 !important;
}
