::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background-color: #e8e8e8e8;
}

::-webkit-scrollbar-thumb {
    background-color: var(--v-primary-darken1);
    border-radius: 0;
}

::-webkit-scrollbar-button {
    display: none;
}
