// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$body-font-family: 'IranSans';
$font-size-root: 14px;
$material-light: (
    'background': #f9f9f9,
);

@import '~vuetify/src/styles/styles.sass';
